.page-header {
  margin-top: 28px;
  &__logo-menu {
    display: flex;
  }
  &__navigation {
    display: flex;
    justify-content: space-between;
  }
  &__nav-buttons {
    display: flex;
    align-items: center;
  }
}

.page-header__nav-list {
  display: none;

  @media screen and (min-width: 1000px) {
    display: flex;
    align-items: center;
    position: relative;

    .page-header__nav-item {
      &:not(:last-child) {
        margin-right: 62px;
      }
    }

    .page-header__nav-link {
      padding: 10px 0;
      font-family: DM Sans;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      user-select: none;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        color: $accent-color;
      }
    }
  }
}
.menu-icon,
.search-icon {
  fill: $primary-title-color;
  width: 24px;
  height: 24px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}
.search-icon:hover,
.search-icon:active {
  fill: $accent-color;
}

.page-header__nav-button-item:not(:last-child) {
  margin-right: 10px;
  @media screen and (min-width: 480px) {
    margin-right: 40px;
  }
}
.search-input {
  width: 0;
  opacity: 0;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    outline: 1.8px solid $accent-color;
  }
}

.search-form {
  display: flex;
  &:hover,
  &:active,
  &:focus {
    & > .search-input {
      opacity: 1;

      width: 80px;
      border-radius: 20px;
      padding: 0 8px;
      margin-right: 3px;

      @media screen and (min-width: 1075px) {
        width: 150px;
      }
    }
  }
}
